<ion-content [fullscreen]="true" class="dice-content">
  <div
    class="screen-canvas"
    (dblclick)="roll()"
    (touchend)="onTouchEnd($event)"
  >
    <div class="dice-stage">
      <div
        class="dice"
        [class.rolling]="isRolling()"
        [attr.data-value]="diceValue()"
        (click)="roll()"
      >
        <span class="dot dot-tl"></span>
        <span class="dot dot-tr"></span>
        <span class="dot dot-ml"></span>
        <span class="dot dot-c"></span>
        <span class="dot dot-mr"></span>
        <span class="dot dot-bl"></span>
        <span class="dot dot-br"></span>
      </div>

      <div class="dice-shadow"></div>
    </div>

    <div class="accel-panel" (dblclick)="$event.stopPropagation()">
      <div class="accel-header">
        <span class="accel-title">accel</span>
        <div class="accel-readouts">
          <span class="axis-pill" [class.active]="accelX() !== 0">x: {{ accelX() }}</span>
          <span class="axis-pill" [class.active]="accelY() !== 0">y: {{ accelY() }}</span>
        </div>
      </div>

      <div class="slider-group">
        <div class="slider-label">
          <span>X Axis</span>
          <span class="val">{{ accelX() }}</span>
        </div>
        <input
          type="range"
          min="-15"
          max="15"
          step="0.5"
          [value]="accelX()"
          (input)="onSliderInput('x', $event)"
          (change)="onSliderRelease('x', $event)"
          (mouseup)="onSliderRelease('x', $event)"
          (touchend)="onSliderRelease('x', $event)"
          class="accel-slider"
        />
      </div>

      <div class="slider-group">
        <div class="slider-label">
          <span>Y Axis</span>
          <span class="val">{{ accelY() }}</span>
        </div>
        <input
          type="range"
          min="-15"
          max="15"
          step="0.5"
          [value]="accelY()"
          (input)="onSliderInput('y', $event)"
          (change)="onSliderRelease('y', $event)"
          (mouseup)="onSliderRelease('y', $event)"
          (touchend)="onSliderRelease('y', $event)"
          class="accel-slider"
        />
      </div>
    </div>
  </div>
</ion-content>
